{% extends 'layout.twig' %}

{% block body %}
    <header class="jumbotron">
        <h1 class="text-center">ToListenList</h1>

    </header>
    <div class="container">

        <div class="row">

            {% if added == true  %}
                <div class="col-md-12">
                    <div class="alert alert-success text-center">
                        <strong>File has been successfully uploaded !</strong> 
                    </div>
                </div>

            {% elseif deleted == true  %}
                <div class="col-md-12">
                    <div class="alert alert-warning text-center">
                        <strong>File has been successfully deleted !</strong> 
                    </div>
                </div>
            {% endif %}
        </div>

        <div class="row">

            <div class="col-md-6 well">

                <form action="/files/upload" enctype="multipart/form-data" method="POST">
                    <fieldset>
                        <legend><i class="fa fa-music" aria-hidden="true"></i> Upload a song !</legend>
                        <div class="form-group">
                            <label for="title">Title</label>  
                            <input class="form-control" id="title" name="title">
                        </div>

                        <div class="form-group">
                            <label for="file">Upload your track</label>  
                            <input type="file" class="form-control" id="file" name="file">
                        </div>

                        <div class="form-group">
                            <label for="genre">Genre</label>  
                            <input  class="form-control" id="genre" name="genre">
                        </div>
                        <div class="form-group">
                            <label for="sender">Sent by</label>  
                            <input  class="form-control" id="sender" name="sender">
                        </div>
                        <div class="form-group">
                            <label for="author">Author(s)</label>  
                            <input  class="form-control" id="author" name="author">
                        </div>
                        <button class="btn btn-success" type="submit">Send it !</button>
                        <button class="btn btn-danger" type="rest">Reset fields</button>
                    </fieldset>
                </form>

            </div>   
            <div class="well col-md-6">
                <ul class="list-group" id="listenlist">





                </ul>


            </div>
        </div>

    </div>



    <script type="text/javascript" src="/javascripts/fileAjax.js" ></script> 

{% endblock %}
